*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: inherit; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

body, form, fieldset, legend, input, select, textarea, button {
  margin: 0; }

audio:not([controls]) {
  display: none;
  height: 0; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

[hidden], template {
  display: none; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 28px;
  line-height: 1.75rem;
  color: #494d4e;
  font-weight: 300;
  background: #fff; }

p {
  margin: 0 0 20px 0; }

a {
  color: #c90;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    color: #000;
    outline-width: 0;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1, .fs-1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 64px;
  line-height: 4rem; }

h2, .fs-2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 40px;
  line-height: 2.5rem; }

h3, .fs-3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem; }

h4, .fs-4, .footer-heading {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem; }

h5, .fs-5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem; }

h6, .fs-6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem; }

h1 {
  margin-bottom: .5em;
  color: #fff;
  font-weight: 400; }

h2 {
  margin-bottom: .2em;
  color: #c90;
  font-weight: 400; }

h3 {
  margin-bottom: .2em;
  color: #c90;
  font-weight: 400; }

h4 {
  margin-bottom: .2em;
  color: #c90;
  font-weight: 400; }

h5 {
  margin-bottom: .1em;
  color: #c90;
  font-weight: 400; }

h6 {
  margin-bottom: .1em;
  color: #c90;
  font-weight: 400; }

b, strong, .strong {
  font-weight: 700; }

em, .em {
  font-style: italic; }

abbr[title], .abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

small, .small {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 1rem; }

mark, .mark {
  background-color: #ff0;
  color: #000; }

sub, .sub, sup, .sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub, .sub {
  bottom: -0.25em; }

sup, .sup {
  top: -0.5em; }

del, .del {
  text-decoration: line-through; }

figure {
  margin: 1em 40px; }

hr, .hr {
  box-sizing: content-box;
  height: 1px;
  background: #eee;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px; }

ul, ol {
  margin: 20px 0;
  padding: 0 0 0 40px; }

dl:before, dl:after {
  content: " ";
  display: table; }

dl:after {
  clear: both; }

dl dt {
  float: left;
  width: 25%;
  display: block;
  font-weight: 400; }

dl dd {
  overflow: hidden;
  display: block; }

blockquote,
.blockquote {
  font-family: "Yeseva One", cursive;
  font-weight: 300;
  font-style: italic;
  margin: 20px 0; }
  blockquote p,
  .blockquote p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 36px;
    line-height: 2.25rem;
    margin-bottom: 20px; }
  blockquote cite,
  .blockquote cite {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 25px;
    line-height: 1.5625rem;
    font-weight: 700;
    font-style: normal; }

caption {
  font-size: inherit;
  line-height: normal;
  font-weight: 700;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #d7d7d7; }

table {
  font-size: 14px;
  font-size: 0.875rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  text-align: left; }
  table thead td,
  table thead th,
  table tbody td,
  table tbody th,
  table tfoot td,
  table tfoot th {
    color: #585858;
    padding: 10px;
    border-bottom: 1px solid #e9e9e9; }

code, kbd, pre, samp {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem;
  word-wrap: break-word;
  font-family: monospace, monospace;
  color: #000;
  background-color: transparent;
  font-weight: normal;
  padding: 0;
  white-space: pre-wrap; }

pre {
  padding: 10px;
  overflow: auto;
  border: 1px solid #d7d7d7; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

label,
button,
input,
optgroup,
select,
textarea {
  color: #000;
  font: inherit;
  margin: 0; }

[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"] {
  height: 36px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border-radius: 0; }
  [type="text"]:focus,
  [type="email"]:focus,
  [type="password"]:focus,
  [type="tel"]:focus,
  [type="number"]:focus,
  [type="date"]:focus {
    background-color: #fff;
    border-color: #f7c723;
    outline: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: auto; }
  textarea:focus {
    background-color: #fff;
    border-color: #f7c723;
    outline: 0; }

select {
  text-transform: none;
  height: 36px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #ccc; }
  select:focus {
    background-color: #fff;
    border-color: #f7c723;
    outline: 0; }

optgroup {
  font-weight: 700; }

button {
  border-radius: 0;
  overflow: visible;
  text-transform: none;
  cursor: pointer; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

button[disabled],
html input[disabled] {
  cursor: not-allowed; }

::-webkit-input-placeholder {
  color: #999; }

:-moz-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

.button {
  cursor: pointer;
  border: 1px solid #d7d7d7;
  background-color: #f3f3f3;
  line-height: normal;
  padding: 10px 20px;
  text-decoration: none;
  color: #363636;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .button:hover, .button:active {
    text-decoration: none; }
  .button:hover {
    background: #f9f9f9; }

.button-link {
  color: #c90;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding: 0; }
  .button-link:hover {
    text-decoration: none; }
  .button-link:active {
    outline: 0; }

.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.row:before, .row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

.row {
  position: relative;
  margin-left: -15px;
  margin-right: -15px; }

@media only screen and (min-width: 740px) {
  .row-m {
    position: relative;
    margin-left: -15px;
    margin-right: -15px; }
    .row-m .clear-m:before, .row-m .clear-m:after {
      content: "";
      display: table; }
    .row-m .clear-m:after {
      clear: both; }
    .row-m .row-m:before, .row-m .row-m:after {
      content: "";
      display: table; }
    .row-m .row-m:after {
      clear: both; } }

@media only screen and (min-width: 980px) {
  .row-l {
    position: relative;
    margin-left: -15px;
    margin-right: -15px; }
  .clear-l:before, .clear-l:after {
    content: "";
    display: table; }
  .clear-l:after {
    clear: both; }
  .row-l:before, .row-l:after {
    content: "";
    display: table; }
  .row-l:after {
    clear: both; } }

@media only screen and (min-width: 1140px) {
  .row-xl {
    position: relative;
    margin-left: -15px;
    margin-right: -15px; }
  .clear-xl:before, .clear-xl:after {
    content: "";
    display: table; }
  .clear-xl:after {
    clear: both; }
  .row-xl:before, .row-xl:after {
    content: "";
    display: table; }
  .row-xl:after {
    clear: both; } }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

.container-full {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 740px) {
  .container, .container-full {
    width: 720px; }
  .container-m {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }
  .container-full-m {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0; } }

@media only screen and (min-width: 980px) {
  .container, .container-full {
    width: 960px; }
  .container-l {
    width: 960px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }
  .container-full-l {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0; } }

@media only screen and (min-width: 1140px) {
  .container, .container-full {
    width: 1120px; }
  .container-xl {
    width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }
  .container-full-xl {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in, .banner-lead:after, .banner-lead-1,
.banner-lead-2, .banner-buttons, .about-block.active .about-block-content img, .ingredients-block.active, .ingredients-block.active .feature-box, .ingredients-block.active .feature-box .feature-image, .reviews-block.active, .reviews-block.active .feature-box {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fade-in-down, .about-block.active .about-block-content h2, .about-block.active .about-block-content p, .ingredients-block.active .feature-box h2, .reviews-block.active .feature-box h2 {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown; }

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fade-in-down-big {
  -webkit-animation-name: fadeInDownBig;
          animation-name: fadeInDownBig; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
            transform: translate3d(-30px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
            transform: translate3d(-30px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fade-in-left, .food-menu-block.active .food-menu-content:first-child, .reservations-block.active .reservation-block-img:first-child, .reservations-block.active .reservation-block-img, .reservations-block.active .reservation-block-form {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft; }

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fade-in-left-big {
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fade-in-right, .about-block.active .about-block-img, .food-menu-block.active .food-menu-content {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight; }

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fade-in-right-big {
  -webkit-animation-name: fadeInRightBig;
          animation-name: fadeInRightBig; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fade-in-up, .ingredients-block.active .feature-box p, .reviews-block.active .feature-box blockquote {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fade-in-up-big {
  -webkit-animation-name: fadeInUpBig;
          animation-name: fadeInUpBig; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent;
    color: #000;
    box-shadow: none;
    text-shadow: none; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }
  pre, blockquote {
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr {
    page-break-inside: avoid; }
  img {
    page-break-inside: avoid;
    max-width: 100%; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; }
  abbr[title]:after {
    content: " (" attr(title) ")"; } }

.divider, .heading:after, .heading-secondary:after, .banner-lead:after, .footer-heading:after {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.heading {
  margin: 0;
  text-align: left; }
  .heading:after {
    content: "";
    margin-bottom: 20px; }

.heading-secondary {
  color: #fff; }
  .heading-secondary:after {
    content: "";
    margin-bottom: 20px; }

.button {
  color: #fff;
  padding: 1em 3em;
  text-decoration: none;
  border: 1px solid transparent;
  background: #c90;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  position: relative; }
  .button:hover {
    background: #cd9f0b;
    color: #fff; }
  .button:active {
    top: 1px; }

.button-primary {
  border: 1px solid #000;
  background: #000;
  background: rgba(0, 0, 0, 0.5); }
  .button-primary:hover {
    background: #000;
    background: black; }

.button-secondary {
  border: 1px solid #fff;
  background: #fff;
  background: rgba(255, 255, 255, 0.15); }
  .button-secondary:hover {
    background: #fff;
    background: rgba(255, 255, 255, 0); }

.feature-box {
  padding: 20px 10px;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }
  @media only screen and (min-width: 740px) {
    .feature-box {
      padding: 50px 60px; } }

.banner_1 {
    background: url(../img/banner1.jpg) center center no-repeat;
}

.banner_2 {
    background: url(../img/banner2.jpg) 0 0 no-repeat;
}

.banner_3 {
    background: url(../img/banner3.jpg) 0 0 no-repeat;
}

.banner_4 {
    background: url(../img/banner4.jpg) 0 0 no-repeat;
}

.banner_5 {
    background: url(../img/banner5.jpg) 0 0 no-repeat;
}

.banner {
  background-size: cover;
  text-align: center; }
  @media only screen and (min-width: 740px) {
    .banner {
      min-height: 550px; } }

@media only screen and (min-width: 740px) {
  .banner-inner {
    width: 75%;
    margin: 0 auto;
    padding-top: 45px; } }

@media only screen and (min-width: 980px) {
  .banner-inner {
    width: 100%;
    padding-top: 60px; } }

.banner-lead {
  margin-top: 35px; }
  .banner-lead:after {
    margin: 20px auto 0 auto;
    content: "";
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  @media only screen and (min-width: 980px) {
    .banner-lead {
      font-size: 70px;
      font-size: 4.375rem;
      line-height: 90px;
      line-height: 5.625rem; } }
  @media only screen and (min-width: 1140px) {
    .banner-lead {
      font-size: 80px;
      font-size: 5rem;
      line-height: 100px;
      line-height: 6.25rem; } }

.banner-lead-1,
.banner-lead-2 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          display: inline; }
  @media only screen and (min-width: 740px) {
    .banner-lead-1,
    .banner-lead-2 {
      display: block; } }

.banner-lead-1 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s; }

.banner-lead-2 {
  -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1em;
    font-style: italic;
    font-weight: normal;
    opacity: 50%;
    align-content: center;
    max-width: 400px;
    text-align: center;
    margin-right: 5pc;
    margin-bottom: 0px;
    word-wrap: break-word;
    vertical-align: middle;
    margin-left: 33%;
    margin-bottom: 3%;
   }

.dark-text {
    color:grey;
}

.banner-buttons {
  padding-bottom: 20px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }
  @media only screen and (min-width: 740px) {
    .banner-buttons {
      padding-bottom: 20px; } }
  .banner-buttons .button {
    margin: 10px 0; }
    @media only screen and (min-width: 740px) {
      .banner-buttons .button {
        margin: 0 4px; } }

.header {
  background: #212121;
  padding-bottom: 15px;
  position: relative; }
  @media only screen and (min-width: 740px) {
    .header {
      background: transparent;
      opacity: .9;
      padding-bottom: 20px; } }
  .header:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #fff;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 0;
    left: 0; }

@media only screen and (min-width: 740px) {
  .header-inner {
    padding-left: 5px;
    padding-right: 5px; } }

@media only screen and (min-width: 980px) {
  .header-inner {
    padding-left: 15px;
    padding-right: 15px; } }

.footer {
  text-align: center;
  color: #999;
  background: #294F8A; }
  .footer strong {
    color: #fff; }

  .footer-left-col {
      float: left;
      max-width: 50%;
      text-align: left;
      margin: 0px;
      max-height: 500px;
      margin-top: 0%;
  }

  .footer-mid-col {
      width: 10%;
  }

  .footer-right-col {
      margin-top: 20px;
      margin-left: 40%;
      text-align: left;
      line-height: 2em;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: #fff;
      font-size: 15px;
  }

  @media only screen and (max-device-width: 480px) {
      .footer-left-col {
          float: none;
          max-width: 100%;
          margin-top: 5%;
      }

      .footer-right-col {
          float: none;
          text-align: center;
          margin-left:10%;
          margin-right:10%;
      }
  }

  .footer-text-strong {
      color: #EBC844;
  }

  .soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 48px;
  padding: 4.8rem;
  text-align: center;
}
.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 96px;
  height: 9.6rem;
  width: 96px;
  width: 9.6rem;
}

.soc em {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}

.soc img {
    max-width: 32px;
    max-height: 32px;
}

.icon-list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px; }
  .icon-list-inline li {
    margin-left: 10px;
    display: inline-block; }
    .icon-list-inline li:first-child {
      margin-left: 0; }

.facebook {
    content:url("/img/fb.png")
}

.facebook:hover {
    content:url("/img/fb_hover.png")
}

.twitter {
    content:url("/img/twitter.png")
}

.twitter:hover {
    content:url("/img/twitter_hover.png")
}

.linkedin {
    content:url("/img/linkedin.png")
}

.linkedin:hover {
    content:url("/img/linkedin_hover.png")
}

.github {
    content:url("/img/github.png")
}

.github:hover {
    content:url("/img/github_hover.png")
}

.instagram {
    content:url("/img/instagram.png")
}

.instagram:hover {
    content:url("/img/instagram_hover.png")
}

.copyright {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    color: gray;
}

.copyright-small-text {
    font-size: 12px;
}